mixin programSection(section, index)
    .content-child(class=`${index % 2 == 0 ? 'content-child--bg-gradient':''}`)
        .content-child__title= section.name
        ul.content-child__activity-list
            each activity in section.activity
                li.activity-item
                    img.activity-item__img(src=`/img/activities/${activity.media}` alt=`${activity.name}`)
                    .activity-item__title= activity.name
                    .activity-item__summary= activity.summary
