extends base
include _programSection

block content
    - console.log(program.sections)
    main
        section.section-program-summary
            .content-summary
                .content-summary__nav
                    a.content-summary__nav-link(href="/") Home
                    a.content-summary__nav-link= program.name
                .content-summary__text
                    .content-summary__title= program.name
                    .content-summary__creator= program.user.name
                    // .content-summary__lecture-count
                    .content-summary__description= program.description
                    .content-summary__ratings
                        .content-summary__star-number= program.ratingsAverage
                        .content-summary__stars
                            each star in [1, 2, 3, 4, 5]
                                if program.ratingsAverage >= star
                                    svg.content-summary__icon-star
                                        use(xlink:href="/img/sprite.svg#icon-star-full")
                                else if program.ratingsAverage < star && program.ratingsAverage > star - 1
                                    svg.content-summary__icon-star
                                        use(xlink:href="/img/sprite.svg#icon-star-half") 
                                else
                                    svg.content-summary__icon-star
                                        use(xlink:href="/img/sprite.svg#icon-star-empty")  
                    //- .content-summary__cta
                    //-     button.content-summary__button
                    //-         | Add To Library
                    //-     button.content-summary__button
                    //-         | Wishlist
                    //-         svg.content-summary__icon
                    //-             use(xlink:href="/img/sprite.svg#icon-heart")
                .content-summary__media-container
                    img.content-summary__media-content(src=`/img/programs/${program.imageCover}`)
                    //video.program-introduction__video-content(controls="" autoplay="" muted="" loop="")
                    //    source(src="/video/program-introduction-video-1.mp4" type="video/mp4")
                    //    |               Your browser is not supported.

        section.section-program-content
            - let index = 0
            each section in program.sections
                - index++
                +programSection(section, index)
        
        .popup.popup--completed
            .popup__box
                button.popup__button.popup__button--close
                    svg.popup__icon
                        use(xlink:href="/img/sprite.svg#icon-close")
                button.popup__button.popup__button--right
                    svg.popup__icon
                        use(xlink:href="/img/sprite.svg#icon-arrow-right")
                button.popup__button.popup__button--left
                    svg.popup__icon
                        use(xlink:href="/img/sprite.svg#icon-arrow-left")
                .popup__content


